.container-about {
    height: 100%;
    .row {
        margin-top: 100px !important;
    }
    h4 {
        color: black;
        font-size: 17px;
        line-height: 30px;
        align-items:center;
        display: flex;
    }
    img {
        max-width: 100% !important;
    }
}