html{
    scrollbar-width: none;
  }



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

body::-webkit-scrollbar {
    display: none;
}




.main {
    width: 100%;
    position: relative;
    color: white;
    
}


.section-flex {
    grid-template-columns: auto auto;
    display: flex;
    width: 100%;
    position: relative;
    gap: 10px;
    background-color:azure;
    height: 90vh;
    align-content: center;
    
}


.flex-2 {
    color: white !important;
    display: flex;
    text-transform: uppercase;
    width: 70%;
    justify-content: left;
    color: blue;
    font-size: 40px;
    height: 80vh;
    align-items: center;

    img {
        max-width: 700px;
        display: grid;
        z-index: 99;
        background-color:azure;


    }
}

.flex-1 {
    color: white !important;
    display: grid;
    height: 80vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
    h2 {
        max-width: 80%;
        color: black;
        margin: 0 auto;
        font-size: 50px;
        display: flex;
        letter-spacing: 5px;
        margin-right: 0;
        text-align: right;
        animation: slide-right 2s;
    }

}

.flex-3 {
    display:grid;

    justify-content: center;
     img {
        max-width: 90%;    
        margin: 0 auto;
     }
}







    .background {
        height: 70vh;
        background-size: cover;
        margin-top: 100px;
        background-image: url("/background.jpg");
        background-attachment: fixed;
        background-size: cover;
        align-items: center;

    }





    .icons-single {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        margin-top: 25px !important;
        text-align: center !important;
        width: 80%;
        margin: 0 auto;
    }


    .header-service {
        color:#000000de;
        margin: 0 auto;
        display: grid;
        width: 80%;
        margin-top: 100px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 5px;
        font-size: 13px;
        line-height: 20px;

    a {

        color: #1e9b87;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        transition: all 500ms;
        &:hover {
            opacity: 0.7;

        }
    }
}




// KEY ANIMATION

 @-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(400px);
                transform: translateX(400px);
      }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
      }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(400px);
              transform: translateX(400px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  



  

  