.flex {
    list-style: none;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



    li {
        margin-bottom: 30px;
        margin: 0 auto;
        display: flex;
        align-self: center;

    }

    a { 
        
        position: relative;
        display: block;
        font-size: 2em;
        font-weight: 800;
        color: white;
        background: linear-gradient(to right, #1d7b6ee6, #1d7b6ee6 50%, white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        text-decoration: none !important; 
        letter-spacing: 3px;
        &:hover {
          background-position: 0 100%;
        }
    }
}


a {
   
  }

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }


  // Hambuger



  