


 

//OVERLAY HOVER 

.div-grid{
    padding: 30px;

    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 10%;
        height: 80%;
        opacity: 0;
        &:hover {
            background:azure;
            opacity: 1;

          }

          .text {
              font-size: 17px;
              letter-spacing: 3px;
              position: absolute;
              bottom: 0;
              right: 0;

          }
          img {
            max-width: 50px;
            transition: .5s ease;
            padding: 10px;
            background: #1cc2ab82;
            &:hover {
                max-width: 60px;
            }
          }

          h4 {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              color: black;
              font-size: 18px;
              width: 70%;
              margin: 0 auto;
              letter-spacing: 3px;
              opacity: 1 !important;
          }


     }   
 }

//END 


.text-align-center {
    text-align:center;
    color: black;
    font-size: 13px;
    padding: 30px;

    h2 {
        font-size: 15px;
        padding-top: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    a {
        color: black !important;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;

        }
    }


    img {
        max-width: 120px;
    }
}


